<div class="medium-insert-embeds medium-insert-embeds-added" contenteditable="false">
	<figure>
		<div class="medium-insert-embed">
            <div class="medium-insert-embed-inner">
			    {{{html}}}
            </div>
            <a href="{{url}}" data-embedded-object></a>
		</div>
	</figure>
	<div class="medium-insert-embeds-overlay"></div>
</div>