<div class="medium-insert-embeds medium-insert-embeds-added" contenteditable="false">
	<figure>
        <div class="medium-insert-embed" data-embedded-object-src="{{url}}">
            {{{html}}}
        </div>
	</figure>
	<div class="medium-insert-embeds-overlay"></div>
</div>